#main {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

#image-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5rem;
}

#input-div{
    width: 40%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#filter-div {
    min-width: 15%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#filter-table {
    max-height: 100px;
    margin: auto;
}
td {
    text-align: center;
    vertical-align: middle;
}

#output-div {
    width: 40%;

    display: flex;
}
#output-viewer-wrapper {
    align-items: flex-end;
}


.viewer-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.viewer {
    max-width: 512px;
    max-height: 512px;
    height: auto;
}

#bench-div {
    width: 100%;
}
#bench-div h4 {
    margin-top: 25px;
    margin-bottom: 5px;
}
#bench-subdiv {
    display: flex;
    justify-content: space-evenly;
}
.bench {
    width: 33%;
}
.bench p {
    margin-top: 5px;
    margin-bottom: 5px;
}